<div class="container-fluid">
    <div class="row">
     <div class="col-lg-12">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
     </div>
    </div>
    
    <div class="row">
     <div class="col-lg-12">
      <span ng-if="vm.pagetype=='page'">
       <h2 ng-if="pageid!=0">Edit page</h2>
       <h2 ng-if="pageid==0">New page</h2>
      </span> 
      <span ng-if="vm.pagetype=='news'">
       <h2 ng-if="pageid!=0">Edit news</h2>
       <h2 ng-if="pageid==0">New news</h2>
      </span> 
      <span ng-if="vm.pagetype=='folder'">
       <h2 ng-if="pageid!=0">Edit folder (menu item)</h2>
       <h2 ng-if="pageid==0">New folder (menu item)</h2>
      </span> 
      <form name="form" role="form">

  <tabs>
    <pane title="Содержание">
          <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Enter name</span>
          </div>
          <span ng-if="vm.pagetype==='news'">
            <div class="form-group">
             <label for="content">Content</label>
             <span ng-show="form.content.$dirty && form.content.$error.required" class="help-block">Enter content</span>
             <wysiwyg name="content" id="content" required textarea-id="content" textarea-class="form-control"  textarea-height="280px" textarea-name="content" textarea-required ng-model="vm.content" enable-bootstrap-title="true"></wysiwyg>
            </div>
          </span>
          <span ng-if="vm.pagetype==='page'">
            <div class="form-group">
             <label for="content">Content</label>
             <span ng-show="form.content.$dirty && form.content.$error.required" class="help-block">Enter content</span>
             <wysiwyg name="content" id="content" required textarea-id="content" textarea-class="form-control"  textarea-height="280px" textarea-name="content" textarea-required ng-model="vm.content" enable-bootstrap-title="true"></wysiwyg>
            </div>
          </span>
    </pane>
    <pane ng-if="vm.pagetype=='news'" title="News">
            <div class="form-group">
             <label for="background">Picture for news</label>
             <input type="text" name="background" id="background" class="form-control" ng-model="vm.background"/>
            </div>
            <div class="form-group">
             <label for="shortnews">Short news</label>
             <textarea class="form-control" name="shortnews" rows="3" ng-model="vm.shortnews"></textarea>
             <span ng-show="form.shortnews.$dirty && form.shortnews.$error.required" class="help-block">Enter short news</span>
            </div>
    </pane>
    <pane ng-if="vm.pagetype!='folder' && pageid!=0" title="Pictures">
                    <h3>Select picture</h3>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <input type="file" nv-file-select="" uploader="uploader" filters="imageFilter" multiple  /><br/>

                    <div>
                        <div>
                            Progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all 
                        </button>
                    </div>

                    <h3>Uploaded pictures ({{ uploader.queue.length }})</h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Имя</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Статус</th>
                                <th>URL</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><a href="picupload/{{pageid}}/{{item.file.name}}" target="_blank"><img src="backend/file_thumb.php?w=120&h=100&file=picupload/{{pageid}}/{{item.file.name}}" width="120"></a></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteFile($index)">
                                        <span class="glyphicon glyphicon-trash"></span> Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    </pane>
  </tabs>
        <div class="form-actions">
            <button ng-if="pageid!=0" ng-click="vm.editpage(true)" ng-disabled="form.$invalid || vm.dataLoading" type="button" class="btn btn-outline btn-primary">Change ans close</button>
            <button ng-if="pageid!=0" ng-click="vm.editpage(false)" ng-disabled="form.$invalid || vm.dataLoading" type="button" class="btn btn-outline btn-primary">Change</button>
            <button ng-if="pageid==0" ng-click="vm.newpage(true)" ng-disabled="form.$invalid || vm.dataLoading" type="button" class="btn btn-outline btn-primary">Create and close</button>
            <button ng-if="pageid==0" ng-click="vm.newpage(false)" ng-disabled="form.$invalid || vm.dataLoading" type="button" class="btn btn-outline btn-primary">Create</button>
            <a ng-if="vm.pagetype=='page'" target-blank ui-sref="site.page({pageId: {{ parent }}})" type="button" class="btn btn-outline btn-primary">View</a>
            <a ng-if="vm.pagetype=='news'" target-blank ui-sref="site.news({pageId: {{ parent }}})" type="button" class="btn btn-outline btn-primary">View</a>
            <button ui-sref="dashboard.pages({pageId: {{ parent }}})" type="button" class="btn btn-outline btn-primary">Cancel</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </form>
     </div>
    </div>
</div>
