<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Новости <strong>{{name}}</strong></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Новости
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <button ui-sref="dashboard.newpage({pageType: 'news', parentId: {{parent}}})" type="button" class="btn btn-primary btn-outline">Новая новость</button>
                <button ui-sref="dashboard.newpage({pageType: 'foldernews', parentId: {{parent}}})" type="button" class="btn btn-primary btn-outline">Новая папка</button>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>Наименование</th>
                                <th>Дата</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                         <tr ng-repeat="x in newses">
                             <td><span ng-if="x.Name!='..'">{{ x.Id }}</span></td>
                             <td>
                               <span ng-if="x.Type==='news'"><i class="fa fa-file-code-o"></i>
                               </span>
                               <span ng-if="x.Type==='foldernews'"><i class="fa fa-folder-o"></i>
                               </span>
                             </td>
                             <td>
                              <span ng-if="x.On==='true'">
                               <span ng-if="x.Type==='news'">
                               {{ x.Name }}
                               </span>
                               <span ng-if="x.Type==='foldernews'">
                                 <a title="Перейти в папку" ui-sref="dashboard.newses({pageId: {{ x.Id }}})">{{ x.Name }}</a>
                               </span>
                              </span>
                              <span ng-if="x.Off==='true'">
                               <a title="Редактировать" ui-sref="dashboard.editpage({pageId: {{ x.Id }}, pageType: '{{ x.Type }}', parentId: {{parent}}})">{{ x.Name }}</a>
                              </span>
                             </td>
                             <td>{{ x.Date }}</td>
                             <td>
                              <a ng-model="x.Model" ui-sref="dashboard.switchpage({pageId: {{ x.Id }}, pageType: '{{ x.Type }}', parentId: {{parent}}})" class="btn">
                               <span ng-if="x.On==='true'" title="Снять видимость"><i class="fa fa-eye"></i>
                               </span>
                               <span ng-if="x.Off==='true'" title="Установить видимость"><i class="fa fa-eye-slash"></i>
                               </span>
                              </a>
                             </td>
                             <td>
                               <span ng-if="x.Off==='true'">
                                   <a title="Удалить" ui-sref="dashboard.delpage({pageId: {{ x.Id }}, pageType: '{{ x.Type }}', parentId: {{parent}}})" class="btn"><i class="fa fa-times"></i></a>
                               </span>
                               <span ng-if="x.On==='true'">
                                 <span ng-if="x.Type==='news'">
                                   <a title="Просмотр" target="_blank" ui-sref="site.news({pageId: {{ x.Id }}})" class="btn"><i class="fa fa-external-link"></i></a>
                                 </span>
                               </span>
                             </td>
                         </tr>
                       </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

</div>