<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pages <strong>{{name}}</strong></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Pages
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                
                <button ui-sref="dashboard.editpage({pageId:'0', pageType: 'page', parentId: {{parent}}})" type="button" class="btn btn-primary btn-outline"New page</button>
                <button ui-sref="dashboard.editpage({pageId:'0', pageType: 'news', parentId: {{parent}}})" type="button" class="btn btn-primary btn-outline">New news</button>
                <button ui-sref="dashboard.editpage({pageId:'0', pageType: 'folder', parentId: {{parent}}})" type="button" class="btn btn-primary btn-outline">New folder</button>
                
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>Name</th>
                                <th>Date</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                         <tr ng-repeat="x in pages">
                             <td><span ng-if="x.Name!='..'">{{ x.Id }}</span></td>
                             <td>
                               <span ng-if="x.Type==='page'"><i title="page" class="fa fa-file-code-o"></i>
                               </span>
                               <span ng-if="x.Type==='news'"><i title="news" class="fa fa-file-text-o"></i>
                               </span>
                               <span ng-if="x.Type==='folder'"><i title="folder" class="fa fa-folder-o"></i>
                               </span>
                             </td>
                             <td>
                              <span ng-if="x.On==='true'">
                               <span ng-if="x.Type==='page'">
                               {{ x.Name }}
                               </span>
                               <span ng-if="x.Type==='news'">
                               {{ x.Name }}
                               </span>
                               <span ng-if="x.Type==='folder'">
                                 <a title="Goto folder" ui-sref="dashboard.pages({pageId: {{ x.Id }}})">{{ x.Name }}</a>
                               </span>
                              </span>
                              <span ng-if="x.Off==='true'">
                               <a title="Edit" ui-sref="dashboard.editpage({pageId: {{ x.Id }}, pageType: '{{ x.Type }}', parentId: {{parent}}})">{{ x.Name }}</a>
                              </span>
                             </td>
                             <td>{{ x.Date }}</td>
                             <td>
                              <a ng-model="x.Model" ui-sref="dashboard.movepage({move: 0, pageId: {{ x.Id }}, pageType: '{{ x.Type }}', parentId: {{parent}}})" class="btn">
                               <i class="fa fa-arrow-up"></i>
                              </a> 
                              <a ng-model="x.Model" ui-sref="dashboard.movepage({move: 1, pageId: {{ x.Id }}, pageType: '{{ x.Type }}', parentId: {{parent}}})" class="btn">
                               <i class="fa fa-arrow-down"></i>
                              </a>
                             </td>
                             <td>
                              <a ng-model="x.Model" ui-sref="dashboard.switchpage({pageId: {{ x.Id }}, pageType: '{{ x.Type }}', parentId: {{parent}}})" class="btn">
                               <span ng-if="x.On==='true'" title="View off"><i class="fa fa-eye"></i>
                               </span>
                               <span ng-if="x.Off==='true'" title="View on"><i class="fa fa-eye-slash"></i>
                               </span>
                              </a>
                             </td>
                             <td>
                               <span ng-if="x.Off==='true'">
                                   <a title="Delete" ng-click="del(x.Id,'x.Type',parent)" class="btn"><i class="fa fa-times"></i></a>
                               </span>
                               <span ng-if="x.On==='true'">
                                 <span ng-if="x.Type==='page'">
                                   <a title="View page" target="_blank" ui-sref="site.page({pageId: {{ x.Id }}})" class="btn"><i class="fa fa-external-link"></i></a>
                                 </span>
                                 <span ng-if="x.Type==='news'">
                                   <a title="View news" target="_blank" ui-sref="site.news({pageId: {{ x.Id }}})" class="btn"><i class="fa fa-external-link"></i></a>
                                 </span>
                               </span>
                             </td>
                         </tr>
                       </tbody>
                    </table>
                              
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</div>

</div>
